.fast {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

#themecolors .selector, .cursor {
	cursor: pointer;
}

#googleButton{
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
}