<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuario"
          (keyup)="search(txtSearch.value)"
          #txtSearch
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total users</h4>
        <h6 class="card-subtitle">Registered users ({{ totalUsuarios }})</h6>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w100">Rol</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img
                    [src]="usuario._imagenUrl"
                    alt="User avatar"
                    class="avatar cursor"
                    (click)="abrirModal(usuario)"
                  />
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <select
                    class="form-control w140"
                    [(ngModel)]="usuario.rol"
                    (change)="cambiarRol(usuario)"
                  >
                    <option value="ADMIN_ROL">Admin</option>
                    <option value="USER_ROL">User</option>
                  </select>
                </td>

                <td>
                  <span *ngIf="usuario.google" class="label label-danger"
                    >Google</span
                  >
                  <span *ngIf="!usuario.google" class="label label-info"
                    >Email</span
                  >
                </td>

                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="deleteUser(usuario)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="txtSearch.value.length === 0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary">
            Anterior
          </button>
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
